doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="favicon" href="https://avatars.githubusercontent.com/u/214256689?s=200&v=4")
  title n7 webring!
  style.
    @font-face {
      font-family: "0xProto";
      src: url('https://raw.githubusercontent.com/0xType/0xProto/main/fonts/0xProto-Regular.woff2') format('woff2');
    }
body(lang="en")
  h1 Welcome to #[a(href='https://enseeiht.fr') ENSEEIHT] students' #[a(href='https://en.wikipedia.org/wiki/Webring') webring]!

  ul.members
    each member in members
      li: a.member(href=member.url)
        img.pfp(src=`https://avatars.githubusercontent.com/u/${member.github}?v=4` alt=`Photo de ${member.name}`)
        span.name=member.name
    li: a.member.new(href="https://github.com/n7webring/ring/edit/main/members.yaml")
        .pfp.empty
        span.name You?

  style.
    h1 {
      text-align: center;
      font-size: 1.7em;
    }

    .member {
      display: flex;
      gap: 0.25em;
      font-size: 1.5em;
      align-items: center;
    }

    .member .pfp {
      height: 1.5em;
      width: 1.5em;
      border-radius: 1000000px;
      object-fit: cover; 
    }

    .member .pfp.empty {
      border: 2px gray dashed;
    }

    ul.members {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    a, a:visited {
      color: inherit;
    }

    body {
      --pad: 1rem;
      height: calc(100vh - 2*var(--pad));
      padding: var(--pad);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: 0;
      font-family: "0xProto", Iosevka NFM, Iosevka, Segoe UI, Ubuntu Sans, sans-serif;
      color: #111;
      background: #fafafa;
    }

