doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title n7 webring!
body
  h1 Bienvenue sur le #[a(href='https://en.wikipedia.org/wiki/Webring') webring] des étudiant·e·s de l'#[a(href='https://enseeiht.fr') ENSEEIHT]!

  ul
    each member in members
      li: a.member(href=member.url)
        img(src=`https://avatars.githubusercontent.com/u/${member.github}?v=4` alt=`Photo de ${member.name}`)
        span.name=member.name

  style.
    .member {
      display: flex;
      gap: 0.75em;
    }

    .member img {
      height: 1em;
      width: 1em;
      object-fit: cover;
    }
